# Python
__pycache__/
*.py[cod]
*.egg-info/
.dist-info/
.venv/
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
.cache/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Builds
dist/
build/
